name: Main workflow

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-version:
          - 5.4.0
          - 5.3.0
          - 5.2.0
          - 5.1.1
          - 5.0.0
          - 4.14.0
          - 4.13.1
          - 4.12.1
          - 4.11.2
          - 4.10.2
          - 4.09.1
          - 4.08.1
        with-test-doc: [true]
        include:
          - os: ubuntu-latest
            ocaml-version: 5.5.0+trunk
            with-test-doc: false

    runs-on: ${{ matrix.os }}

    env:
      OPAMCONFIRMLEVEL: unsafe-yes

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - run: echo | sh <(curl -sL https://raw.githubusercontent.com/ocaml/opam/master/shell/install.sh) --dev
      - run: sudo apt-get install bubblewrap

      - run: opam init --compiler ${{ matrix.ocaml-version }}

      - run: |
          opam install --deps-only .
          opam exec -- dune build @install
          opam install .

      - if: matrix.with-test-doc == true
        run: |
          opam install --deps-only . --with-test
          opam exec -- dune build @runtest
          opam reinstall -t .

      - if: matrix.with-test-doc == true
        run: |
          opam install --deps-only . --with-doc
          opam exec -- dune build @doc
          opam reinstall -d .
