name: Main workflow

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-version:
          - 5.4.0
          - 5.3.0
          - 5.2.0
          - 5.1.1
          - 5.0.0
          - 4.14.0
          - 4.13.1
          - 4.12.1
          - 4.11.2
          - 4.10.2
          - 4.09.1
          - 4.08.1
        with-test-doc: [true]
        package:
          - ocp-index
          - ocp-browser
        include:
          - os: ubuntu-latest
            ocaml-version: 5.5.0+trunk
            with-test-doc: false
            package: ocp-index

    runs-on: ${{ matrix.os }}

    env:
      OPAMCONFIRMLEVEL: unsafe-yes

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - run: sudo apt-get install bubblewrap

      - name: Cache restore
        id: opam-cache
        uses: actions/cache/restore@v5
        with:
          path: |
            ~/.opam
            /usr/local/bin/opam
          key: ${{ matrix.os }}-${{ matrix.ocaml-version }}

      - if: steps.opam-cache.outputs.cache-hit != 'true'
        run: echo | sh <(curl -sL https://raw.githubusercontent.com/ocaml/opam/master/shell/install.sh) --dev

      - if: steps.opam-cache.outputs.cache-hit != 'true'
        run: opam init --compiler ${{ matrix.ocaml-version }}

      - name: Cache save
        uses: actions/cache/save@v5
        with:
          path: |
            ~/.opam
            /usr/local/bin/opam
          key: ${{ matrix.os }}-${{ matrix.ocaml-version }}

      - run: opam pin add --no-action .

      - run: |
          opam install --deps-only ${{ matrix.package }}
          opam exec -- dune build --only-packages=${{ matrix.package }} @install
          opam install ${{ matrix.package }}

      - if: matrix.with-test-doc == 'true'
        run: |
          opam install --deps-only --with-test ${{ matrix.package }}
          opam exec -- dune build --only-packages=${{ matrix.package }} @runtest
          opam reinstall --with-test ${{ matrix.package }}

      - if: matrix.with-test-doc == 'true'
        run: |
          opam install --deps-only --with-doc ${{ matrix.package }}
          opam exec -- dune build --only-packages=${{ matrix.package }} @doc
          opam reinstall --with-doc ${{ matrix.package }}
